.home-page{
    left: 0;
    right: 0;
    top: 0;
    height:100vh;
    width: 100vw;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    position: absolute;
}

img{
    height:100vh;
    width: 100%;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}