[Unit]
Description=Ashwattha Architects Spring Boot Application
After=network.target

[Service]
WorkingDirectory=/etc/developers
ExecStart=/usr/bin/java -jar studioashwattha-backend-0.0.1-SNAPSHOT.jar
Restart=always
Environment="SPRING_PROFILES_ACTIVE=production"
Environment="JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"

[Install]
RequiredBy=ashwattha-react-app.service
WantedBy=multi-user.target

