[Unit]
Description=Ashwattha Architects React Application
After=network.target
Requires=ashwattha-springboot-app.service

[Service]
WorkingDirectory=/root/ashwattha-architects/frontend
ExecStart=/usr/bin/npm start
Restart=always
Environment="NODE_ENV=production"

[Install]
WantedBy=multi-user.target
